body {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#game-container {
    padding: 12px;
    background: #2b1d0e; /* Marco color madera */
    border-radius: 4px;
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
}

#board {
    display: grid;
    /* 10 columnas y 10 filas de 50px cada una */
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    
    /* Imagen del tablero */
    background-image: url('./tableros/tablero_numerado.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    width: 500px;
    height: 500px;
    border: 2px solid #000;
}

.square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Transparente para ver el fondo */
}

.piece {
    width: 44px;
    height: 44px;
    object-fit: contain;
    filter: drop-shadow(0px 4px 3px rgba(0,0,0,0.5));
    cursor: pointer;
    transition: transform 0.1s;
}

.piece:hover {
    transform: scale(1.1);
}

/* Color para la casilla seleccionada (lo usaremos luego) */
.selected {
    background-color: rgba(255, 255, 0, 0.3) !important;
}