@font-face {
    font-family: 'Emiliosans';
    src: url('./Emiliosans-Regular.ttf') format('truetype');
}

body {
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

h1 {
    font-family: 'Emiliosans', sans-serif;
    font-size: 2.5em; 
    margin: 0 0 10px 0;
}

#game-container {
    padding: 10px;
    background: #2b1d0e;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
}

.game-layout {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* TABLERO */
#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-image: url('./tableros/tablero_numerado.png');
    background-size: 100% 100%;
    width: 400px;
    height: 400px;
    border: 2px solid #000;
    flex-shrink: 0;
    box-sizing: border-box;
    
    /* El margen para esquivar tus letras y números. 
       Ajusta estos 20px si las piezas no encajan exactas en los cuadros */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#info-panel {
    font-family: 'Emiliosans', sans-serif;
    max-width: 500px; 
    font-size: 2.2em; 
    line-height: 1.2;
}

.square {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PIEZAS AL LÍMITE (95%) */
.piece {
    width: 95%;
    height: 95%;
    object-fit: contain;
    display: block;
    filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.6)); /* Sombrita para dar volumen */
}

.footer {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Emiliosans', sans-serif;
    font-size: 1.8em; 
}

#open-credits {
    background: #333;
    color: white;
    border: 1px solid #555;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'Emiliosans', sans-serif;
    font-size: 0.7em;
}

/* MODAL CRÉDITOS */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    background-color: #1a1a1a;
    margin: 5% auto;
    padding: 30px;
    width: 500px;
    border-radius: 20px;
    position: relative;
    font-family: 'Emiliosans', sans-serif;
    font-size: 1.5em;
}

.close-modal {
    position: absolute;
    top: 10px; right: 20px;
    font-size: 25px;
    cursor: pointer;
    color: #ff4d4d;
}

h2 { color: #4db8ff; margin: 0; }
hr { border: 0; border-top: 1px solid #333; margin: 15px 0; }